# Уровень доходов

- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/aksenov7/Kaggle_competition_group/master/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# def married(row):
#   return "Married" in row
data["married"] = data["marital-status"].apply(lambda row: "Married" in row)

In [4]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,married
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,False
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,True
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,False
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,True
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,True
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,True
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,False
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,False
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,True

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [15]:
data['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [24]:
data[data.sex == "Female"].age.mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [72]:
data['native-country'].value_counts().loc['Germany'] / len(data)

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [97]:
more = data[data['salary'] == ">50K"]['age'].std()
print(more)
less = data[data['salary'] == "<=50K"]['age'].std()
print(less)

10.519027719851826
14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [122]:
# pd.crosstab(data.education,data.salary)
data[(data.salary == '>50K') & (data.education == '10th')].education.value_counts()
# Нет, есть люди, которые не имеют высшее и получают больше 50т

education
10th    62
Name: count, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [168]:
columns_to_show = ["race", "sex"]

grouped = data.groupby(columns_to_show, as_index=False)['age'].describe(percentiles=[])
print(grouped)
print("\n")
print(grouped[(grouped.race == "Amer-Indian-Eskimo") & (grouped.sex == "Male")]['max'])

                 race     sex    count       mean        std   min   50%   max
0  Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  36.0  80.0
1  Amer-Indian-Eskimo    Male    192.0  37.208333  12.049563  17.0  35.0  82.0
2  Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  33.0  75.0
3  Asian-Pac-Islander    Male    693.0  39.073593  12.883944  18.0  37.0  90.0
4               Black  Female   1555.0  37.854019  12.637197  17.0  37.0  90.0
5               Black    Male   1569.0  37.682600  12.882612  17.0  36.0  90.0
6               Other  Female    109.0  31.678899  11.631599  17.0  29.0  74.0
7               Other    Male    162.0  34.654321  11.355531  17.0  32.0  77.0
8               White  Female   8642.0  36.811618  14.329093  17.0  35.0  90.0
9               White    Male  19174.0  39.652498  13.436029  17.0  38.0  90.0


1    82.0
Name: max, dtype: float64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [173]:
data[(data.sex == "Male") & (data.salary == ">50K")].married.value_counts()

married
True     5965
False     697
Name: count, dtype: int64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [202]:
max_hours = data['hours-per-week'].max()
df = data[data['hours-per-week'] == max_hours]
hard_workers_count = len(df)
big_salary_count = len(df[df.salary == '>50K'])
print(round(big_salary_count / hard_workers_count * 100, 2), '%')

29.41 %

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [250]:
columns_to_show = ["hours-per-week"]

data.groupby(["native-country", "salary"], as_index=False)[columns_to_show].mean()

   native-country salary  hours-per-week
0               ?  <=50K       40.164760
1               ?   >50K       45.547945
2        Cambodia  <=50K       41.416667
3        Cambodia   >50K       40.000000
4          Canada  <=50K       37.914634
..            ...    ...             ...
77  United-States   >50K       45.505369
78        Vietnam  <=50K       37.193548
79        Vietnam   >50K       39.200000
80     Yugoslavia  <=50K       41.600000
81     Yugoslavia   >50K       49.500000

[82 rows x 3 columns]

# Олимпийские игры

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [251]:
import pandas as pd

In [252]:
# не меняем путь!
PATH = 'https://github.com/aksenov7/Kaggle_competition_group/blob/master/athlete_events.csv.zip?raw=true'

# __0. Откройте файл используя необходимые параметры и не меняя переменную PATH__

In [260]:
data = pd.read_csv(PATH, compression='zip')
data.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

__1. Сколько лет было самым молодым мужчинам и женщинам-участникам Олимпийских игр 1992 года ?__
- 16 и 15
- 14 и 13
- 13 и 11
- 11 и 12

In [279]:
data[data.Year == 1992].drop_duplicates(subset=['ID']).groupby(['Sex'])['Age'].min()

Sex
F    12.0
M    11.0
Name: Age, dtype: float64

__2. Каков был процент баскетболистов-мужчин среди всех мужчин-участников Олимпийских игр 2012 года? Округлите ответ до первого десятичного знака.__

Здесь и далее при необходимости отбрасывайте дублированных спортсменов, чтобы считать только уникальных .
- 0.2
- 1.5
- 2.5
- 7.7

In [291]:
df = data[(data.Year == 2012) & (data.Sex == "M")].drop_duplicates(subset=['ID'])
round(df.Sport.value_counts().loc['Basketball'] / len(df) * 100, 1)

2.5

__3. Каковы среднее и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года? Округлите ответ до первого десятичного знака.__

- 171.8 и 6.5
- 179.4 и 10
- 180.7 и 6.7
- 182.4 и 9.1

In [306]:
df = data[(data.Year == 2000) & (data.Sex == "F") & (data.Sport == "Tennis")].drop_duplicates(subset=['ID'])
round(df.Height.describe(), 1)

count     88.0
mean     171.8
std        6.6
min      150.0
25%      168.0
50%      172.0
75%      176.0
max      191.0
Name: Height, dtype: float64

__4. Найдите спортсмена, который участвовал в Олимпийских играх 2006 года, с наибольшим весом среди других участников той же Олимпиады. Каким спортом он или она занимался?__

- Judo
- Bobsleigh
- Skeleton
- Boxing

In [318]:
df = data[(data.Year == 2006)]
max_weight = df.Weight.max()
df[df.Weight == max_weight].Sport

8102    Skeleton
Name: Sport, dtype: object

__5. Сколько раз John Aalberg участвовал в Олимпийских играх в разные годы?__

Один год - это один раз. Неважно сколько участий внутри одного года
- 0
- 1
- 2
- 3

In [324]:
df = data[(data.Name == "John Aalberg")].drop_duplicates(subset=['Year'])
len(df)

2

__6. Сколько золотых медалей по теннису выиграли спортсмены сборной Switzerland на Олимпиаде-2008? Считайте каждую медаль от каждого спортсмена.__

- 0
- 1
- 2
- 3

In [339]:
df = data[(data.Sport == "Tennis") & (data.Year == 2008) & (data.Medal == "Gold") & (
            data.Team == "Switzerland")].drop_duplicates(subset=['ID'])
len(df)

2

__7. Правда ли, что на Олимпийских играх 2016 Spain выиграла меньше медалей, чем Италия?__

- Да
- Нет

In [354]:
df = data[(data.Year == 2016) & data.Medal & (data.Team == "Spain")]
print("Spain: ", len(df))
df = data[(data.Year == 2016) & data.Medal & (data.Team == "Italy")]
print("Italy: ", len(df))
print("Da")

Spain:  43
Italy:  70
Da

__8. К какой возрастной категории принадлежало наименьшее и наибольшее количество участников Олимпиады-2008?__

- [45-55] и [25-35) соответственно
+ [45-55] и [15-25) соответственно
- [35-45) и [25-35) соответственно
- [45-55] и [35-45) соответственно

In [366]:
df = data[(data.Year == 2008)].drop_duplicates(subset=['ID'])
pd.cut(df.Age, bins=[15,25,35,45,55]).value_counts()

Age
(15, 25]    5627
(25, 35]    4666
(35, 45]     486
(45, 55]      60
Name: count, dtype: int64

__9. Правда ли, что в Atlanta проводились летние Олимпийские игры? Правда ли, что в Squaw Valley проводились зимние Олимпийские игры? ?__

- Да, Да
- Да, Нет
- Нет, Да
- Нет, Нет

In [373]:
df = data[(data.City == "Atlanta") & (data.Season=="Summer")]
if len(df)>0:
    print("In Atlanta was Summer Olympic")
df = data[(data.City == "Squaw Valley") & (data.Season=="Winter")]
if len(df)>0:
    print("In Squaw Valley was Winter Olympic")

In Atlanta was Summer Olympic
In Squaw Valley was Winter Olympic

__10. Какова абсолютная разница между количеством уникальных видов спорта на Олимпиаде 1986 года и Олимпиаде 2002 года?__

- 3
- 10
- 15
- 27

In [393]:
df = data[(data.Year==1986)].drop_duplicates(subset=['Sport'])
a = len(df)
df = data[(data.Year==2002)].drop_duplicates(subset=['Sport'])
b = len(df)
abs(a-b)

15